.gradle
/build/
gradle-app.setting
.gradletasknamecache
gradle/wrapper/gradle-wrapper.properties
/.idea/
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
!gradle-wrapper.jar
src/main/resources/config.properties